/* sabor.css */
body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.linha-laranja {
  height: 4px;
  background-color: #D97014;
  margin: 10px 0;
}

.perfil-img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.btn-login,
.btn-comentar,
.btn-atualizar {
  background-color: #D97014;
  color: white;
  font-weight: bold;
  border: none;
}

.btn-comentar:disabled,
.btn-atualizar:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-cancelar {
  border: 1px solid #D97014;
  color: #D97014;
  background: none;
}

.btn-entrar {
  background-color: #D97014;
  color: #FFFFFF;
  font-weight: bold;
}

.input-error {
  border: 1px solid red !important;
}

.icon {
  width: 20px;
  cursor: pointer;
}

.footer-custom {
  background-color: #D97014;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.comentario-usuario {
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.comentario-usuario .acoes {
  position: absolute;
  top: 5px;
  right: 10px;
}

.comentario-usuario .acoes img {
  margin-left: 5px;
}
.main-content {
  border: 1px solid #C2BEBE;
  padding: 10px;
}
.login-area button {
  background-color: #D97014;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
